<script type="text/x-handlebars-template">
    <div class="input-group input-group-sm js-variable-row-model-id" data-model-id="<%= getID() %>">
        <span class="input-group-addon js-variable-row-handle text-success" data-toggle="tooltip"
              data-placement="left"
              title="" data-original-title="sort"><i class="fa fa-sort"></i> </span>
        <span class="input-group-addon"><i class="fa fa-pencil-square-o"></i></span>
        <input class="form-control js-variable-row-val-input" type="text" value="<%= val %>" placeholder="value" tabindex="0">
        <span class="input-group-addon"><i class="fa fa-tag"></i></span>
        <input class="form-control js-variable-row-label-input" type="text" value="<%= label %>" placeholder="label" tabindex="0">
        <span class="input-group-addon btn btn-primary js-variable-row-del-btn text-danger"><i class="fa fa-trash"></i></span>
    </div>
</script>