<!--suppress HtmlFormInputWithoutLabel -->
<script type="text/x-handlebars-template">
    <div class="panel panel-primary js-variable-model-id" data-model-id="<%= id %>">
        <div class=" input-group">
            <span class="input-group-addon js-variable-handle text-success hidden-md hidden-lg" data-toggle="tooltip"
                  data-placement="left" title="" data-original-title="sort"><i class="fa fa-sort"></i> </span>
            <!--<span class="input-group-addon"><i class="fa fa-bookmark"></i> </span>-->
            <span class="input-group-addon js-variable-row-list-close-btn text-success"><i
                    class="fa fa-list"></i> <span
                    class="badge js-variable-list-num-badge"><%= list.length %></span></span>
            <span class="input-group-addon text-success js-variable-name"
                  style="width:95%;text-align:left;"><%= _.escape(name) %></span>
            <input class="form-control hide input-sm js-variable-name-input" type="text" value="<%= name %>">
            <!--<span class="input-group-addon js-variable-list-open-btn text-success hide"><i class="fa fa-list"></i> open</span>-->
            <span class="input-group-addon js-variable-row-add-btn text-success"><i
                    class="fa fa-plus-circle"></i> add</span>
            <span class="input-group-addon btn btn-primary js-variable-del-btn text-danger"><i class="fa fa-trash"></i></span>
        </div>
        <div class="panel-body panel-collapse collapse" id="panel_id_<%= id %>" style="padding:5px 15px;">
            <ul class="list-group list-unstyled js-variable-row-list-container">
            </ul>
        </div>
    </div>
</script>