<script type="text/x-handlebars-template">
    <div class="panel panel-primary js-template-model-id" data-model-id="<%= id %>">
        <div class=" input-group">
            <span class="input-group-addon js-template-handle text-success" data-toggle="tooltip" data-placement="left" title="" data-original-title="sort"><i class="fa fa-sort"></i> </span>

            <span class="input-group-addon text-success js-template-name" style="width:95%;text-align:left;"><%= _.escape(name) %></span>
            <input class="form-control hide input-sm js-template-name-input" type="text" value="<%= name %>">
            <span class="input-group-addon btn btn-primary js-template-del-btn text-danger"><i class="fa fa-trash"></i></span>
        </div>
        <div class="panel-body" style="">
            <span class="small"><i class="js-template-path"><%= _.escape(path) %></i></span>
            <input class="form-control input-sm hide js-template-path-input" type="text" value="<%= path %>">
        </div>
    </div>
</script>
