<script type="text/x-handlebars-template">
    <h1>Setting
        <span class="btn btn-default js-export-btn">
            <i class="fa fa-upload"></i> Export
        </span>
        <span class="btn btn-default js-import-btn">
            <i class="fa fa-download"></i> Import
        </span>
        <span class="btn btn-default pull-right" data-toggle="collapse" data-target="#setting">
            <i class="fa fa-minus-square"></i> Close
        </span>
    </h1>


    <div class="panel panel-primary">
        <div class="panel-heading">
            <span class="btn btn-primary pull-right js-template-add-btn"><i class="fa fa-plus-circle"></i> add</span>
            <h4>Templates</h4>
        </div>
        <div class="panel-body js-template-list-container">

        </div>
    </div>
</script>